<!-- INTERPOLATION SYNTAX -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head> 
<body>
    <h1>This is a home page 1 + 2 </h1>
    <h2><%=["hello" ,"bonjur" ,"namaste"][2] %></h2>
    <h3><%= 1 +3 %></h3>  <!--INTERPLOATION SYNTAX EJS -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis obcaecati aliquid atque! Minima nisi ullam aliquid cum, ab minus corrupti ut, repellat rem deserunt voluptatem ratione quasi consequatur natus!       
    </p>
    <button>Click me!</button>
</body>
</html>